- content_for :title do
  %h1 Listing ideas

%table
  %tr
    %th Title
    %th.center Demand
    %th.center Cost
    %th.center Frequency
    %th.center Revenue

  - @ideas.each do |idea|
    %tr
      %td= link_to idea.title, idea
      %td.center= idea.demand
      %td.center= idea.cost
      %td.center= idea.frequency
      %td.center= idea.revenue

%br

= link_to 'New Idea', new_idea_path, :class => 'button'
