- content_for :title do
  %h1 Listing ideas

%table
  %tr
    %th Title
    %th Description
    %th Pain reliever
    %th Money multiplier
    %th Demand
    %th Cost
    %th Frequency
    %th Revenue
    %th &nbsp;
    %th &nbsp;
    %th &nbsp;

  - @ideas.each do |idea|
    %tr
      %td= idea.title
      %td= idea.description
      %td= idea.pain_reliever
      %td= idea.money_multiplier
      %td= idea.demand
      %td= idea.cost
      %td= idea.frequency
      %td= idea.revenue
      %td= link_to 'Show', idea
      %td= link_to 'Edit', edit_idea_path(idea)
      %td= link_to 'Destroy', idea, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Idea', new_idea_path, :class => 'button'
