- content_for :title do
  %h1= @idea.title || "Some Idea"

%p
  %strong Description:
  = @idea.description

%p
  %strong Pain reliever:
  = @idea.pain_reliever

%p
  %strong Money multiplier:
  = @idea.money_multiplier

- content_for :sidebar do
  %table
    %tr
      %th.left Demand
      %td= @idea.demand
    %tr
      %th.left Cost
      %td= @idea.cost
    %tr 
      %th.left Frequency
      %td= @idea.frequency
    %tr
      %th.left Revenue
      %td= @idea.revenue

= link_to 'Edit', edit_idea_path(@idea)
|
= link_to 'Back', ideas_path
